#main-content {
    /*border: 1px solid black;*/
    display: flex;
}

#recently-viewed-products {
    /*border: 1px solid red;*/
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
    width: 100%;
}

#categories-menu {
    /*border: 1px solid green;*/
    width: 100%;
    list-style: none;
}

#nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu {
    list-style: none;
    display: flex;
}

#menu > li {
    margin: 10px;
}

.test-element {
    border: 1px solid black;
    margin: 20px;
    width: 30%;
    height: 200px;
}

#additional-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#login-container {
    display: flex;
}

#information-container {
    width: 50%;
    height: 300px;
}

#additional-info-container {
    width: 50%;
}

table, td {
    border: 1px solid black;
}

div {
    border: 1px solid black;
}

#summary {
    display: flex;
    flex-direction: column;
}